@media (min-width: 576px) {
  .container {
    margin: 36px auto;
    padding: 40px;
  }
  .avatar {
    max-height: 337px;
    max-width: 253px;
    background: var(--rootbg);
  }
  .name,
  .surname {
    font-size: 32px;
  }

  .title-top,
  .title-bottom {
    padding: 4px 24px;
  }
  .title-top {
    height: 100px;
  }
  .profession {
    font-size: 16px;
  }
  .title-bottom {
    height: 170px;
  }
  .quote {
    line-height: 16px;
  }
  .bio {
    flex-direction: row;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
